// Estilos para la página de contacto
.contact {
    padding: 20px;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 10px;
        }

        input, textarea {
            margin-top: 5px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: $border-radius;
        }

        button {
            margin-top: 20px;
        }
    }
}
