// Variables de color
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$text-color: #fff;
$background-color: #333;
$card-bg-color: #222;
$border-radius: 15px;
$shadow-color: rgba(0, 0, 0, 0.4);
$font-family: 'Roboto', sans-serif;